html {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

/* Charts */

.light .recharts-tooltip-cursor {
  fill: rgba(59, 130, 246, 0.1); /* azul claro */
}
.dark .recharts-tooltip-cursor {
  fill: rgba(96, 165, 250, 0.2); /* azul claro con opacidad */
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* BASE SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 1.5px;
  height: 6px;
}
::-webkit-scrollbar:hover {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 50px;
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 50px;
}

/* LIGHT THEME */
.light ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.light ::-webkit-scrollbar-thumb {
  background: #888;
}

.light ::-webkit-scrollbar-thumb:hover,
.light ::-webkit-scrollbar-thumb:active {
  background: #555;
}

/* DARK THEME */
.dark ::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.dark ::-webkit-scrollbar-thumb {
  background: #444;
}

.dark ::-webkit-scrollbar-thumb:hover,
.dark ::-webkit-scrollbar-thumb:active {
  background: #666;
}
/* 
  ANIMATIONS
*/
::view-transition-group(root) {
  animation-duration: 0.6s;
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }
  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }
  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}

/* ROUTE CHANGE ANIMATION */

::view-transition-group(content) {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

::view-transition-new(content) {
  animation-name: content-fade-in;
  animation-fill-mode: both;
}

::view-transition-old(content) {
  animation-name: content-fade-out;
  animation-fill-mode: both;
  z-index: 0;
}

@keyframes content-fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes content-fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
